body{
    background-color: rgba(255, 0, 255, 0);
    margin:0 20%;
}

h1, #title{
    text-align:center ;
    text-decoration-color: cornsilk;
    text-shadow:5px 5px 10px black;
    font-size:3em 
}

img{
    display: block;
    /*margin: 0 10%; */
    width: 100%;
}
#img-caption{
    font-size: 12px;
}

div#tribute-info{
    background-color: darkgray;
    box-shadow:20px 20px 15px grey ;
    padding:10px 10px;
    margin-top: 20px;
}
h1.title{
     color: white;
     text-align: center;
     text-shadow: 5px 5px 10px black;
}

